.matches-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 64px 15px;
  background-color: #f9fafb;
}

.matches-tab-bar {
  margin-top: 64px;
  padding-top: 5px;

  @media screen and (max-width: 600px) {
    margin-top: 56px;
  }
}
