.bet {
  color: #1e293b;

  .bet-title {
    display: flex;
    align-items: center;
  }

  .team-name {
    text-align: center;
    font-size: 1.3em;
    padding-left: 10px;
  }

  .bet-select-container {
    display: flex;
    align-items: center;

    .bet-select-value {
      text-align: center;
      width: 100%;
    }
  }

  .bet-flag {
    height: 1.3em;
  }
}
