.table_section {
  overflow: auto;
}

.floatdiv {
  float: left;
  padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
  #img1 {
    height: 700px;
  }
}

@media only screen and (max-width: 900px) {
  .floatdiv {
    float: none;
  }
  #img1 {
    height: 500px;
  }
  .img {
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  #img1 {
    height: 325px;
  }
  .img {
    height: 200px;
  }
}
