.matches-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin: 48px 15px;
}

.matches-tab-bar {
  margin-top: 64px;

  @media screen and (max-width: 600px) {
    margin-top: 56px;
  }
}
